@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";
@source "./app";
@source "./components";

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f8f9ff;
  color: #0b1c30;
}

::selection {
  background-color: #e2dfff;
  color: #0f0069;
}